@import "tailwindcss";

@keyframes blink {
  0%, 100% { opacity: 1; transform: scale(1); }
  50% { opacity: 0.8; transform: scale(1.05); }
}

.animate-blink {
  animation: blink 0.8s infinite ease-in-out;
}
